<footer class="container no-print">
    <div class="content">
        <ul class="nav_footer">
            <li><a href="{$urlBase}">Home</a></li>
            <li><a href="{$urlBase}sobre-nos">Sobre nós</a></li>
            <li><a href="{$urlBase}clientes">Clientes</a></li>
            <li><a href="{$urlBase}downloads">Downloads</a></li>
            <li><a href="{$urlBase}fale-conosco">Fale conosco</a></li>
            <li><a href="{$urlBase}cadastro">Cadastrar</a></li>
            <li><a href="{$urlSite}cursos/cursos.php">Cursos</a></li>
            <li><a href="{$urlBase}gerenciar" target="_blank">Gerenciador</a></li>
        </ul>
      
        <div class="clear"></div>

        <div class="direitos">
            <b style="color: black;">© Copyright 2006 - {date('Y')} - Todos os direitos reservados.</b>
        </div>

        <div class="empresas_footer">
            <img src="{$urlBase}img/empresas_footer.png">
        </div>
    </div>
</footer>

<a href="#top"><i class="fa fa-arrow-circle-up"></i></a>

<script src="{$urlBase}js/jquery.js"></script>
<script src="{$urlBase}js/jquery-ui/jquery-ui-1.10.3.custom.min.js"></script>
<script src="{$urlBase}js/jquery.bxSlider.min.js"></script>
<script src="{$urlBase}js/lightgallery.js"></script>
<script src="{$urlBase}js/lg-thumbnail.js"></script>
<script src="{$urlBase}js/lg-zoom.js"></script>
<script src="{$urlBase}js/jquery.maskedinput.min.js"></script>
<script src="{$urlBase}js/jquery.inview.min.js"></script>
<script src="{$urlBase}js/jquery-confirm.js"></script>
<script src="{$urlBase}js/modulos/geral.js"></script>