<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="https://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>{$Info['title']} - Clientes</title>

        {include file="_head.html"}
    </head>
    <body>
        {include file="_topo.html"}

        <main>
            <div class="container bg_main">
                <div class="content main">
                    <div class="titulo">Clientes</div>

                    <div class="box_clientes">
                        {include file="_clientes.html"}
                    </div>
                    </div>
                </div>
            </div>
        </main>

        {include file="_footer.html"}
    </body>
</html>