<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="https://schema.org/WebPage">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <title>Grupo Fassil</title>
        
        {include file="_head.html"}
    </head>
    <body>
        {include file="_topo.html"}

        {include file="_slide.html"}
        <main>
            <div class="container bg_empresa">
                <div class="content">
                    <div class="titulo animaze">Empresas</div>

                    <div class="empresas">
                        <div class="box_empresas">
                            <img src="{$urlBase}img/logo_fassil.png" class="animaze">
                        </div>
                        <div class="box_empresas">
                            <img src="{$urlBase}img/logo_faspel.png" class="animaze">
                        </div>
                        <div class="box_empresas">
                            <img src="{$urlBase}img/logo_fa.png" class="animaze">
                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <div class="container bg_servico">
                <div class="content">
                    <div class="titulo animaze" style="color: white">SERVIÇOS</div>

                    <div class="box_soft">
                        <span><i class="fa fa-laptop animaze fromTop"></i>SOFTWARE'S<br><img src="{$urlBase}img/icon_servicos2.png" class="animaze"></span>
                        <div class="animaze">
                            <p><i class="fa fa-caret-right"></i> Gerenciamento de contabilidade pública, administração orçamentária, financeira e aplic;</p>
                            <p><i class="fa fa-caret-right"></i> Gestão de almoxarifado, estoque, compras e licitações;</p>
                            <p><i class="fa fa-caret-right"></i> Gestão de patrimônio e controle de frotas;</p>
                            <p><i class="fa fa-caret-right"></i> Gestão de recursos humanos e folha de pagamentos com acesso web;</p>
                            <p><i class="fa fa-caret-right"></i> Gestão de protocolo e processo digital via web;</p>
                            <p><i class="fa fa-caret-right"></i> Administração tributária com acesso web;</p>
                            <p><i class="fa fa-caret-right"></i> Gerenciamento de saneamento com acesso web;</p>
                            <p><i class="fa fa-caret-right"></i> Módulo para atendimento a Lei complementar 131/2009;</p>
                            <p><i class="fa fa-caret-right"></i> Software integrado para gestão de saúde;</p>
                            <p><i class="fa fa-caret-right"></i> Administração escolar com acesso web;</p>
                        </div>

                        <div class="manuais">
                            <p><i class="fa fa-file-pdf-o"></i> Manuais</p>

                            <div class="box_manuais">
                                <img src="{$urlBase}img/m_fiorilli.png"><span>SCPI 8</span>
                                <div class="box_manuais_d">
                                    <a href="http://www.fiorilli.inf.br/contabilidade/apostilas/scpi-contas.pdf" target="_blank">Contas</a>
                                    <a href="http://www.fiorilli.inf.br/contabilidade/apostilas/scpi-compras.pdf" target="_blank">Compras</a>
                                    <a href="http://www.fiorilli.inf.br/contabilidade/apostilas/scpi-comprasweb-solicitacao.pdf" target="_blank">Compras Web</a>
                                    <a href="http://www.fiorilli.inf.br/contabilidade/apostilas/scpi-patrimonio.pdf" target="_blank">Patrimônio</a>
                                    <a href="http://www.fiorilli.inf.br/contabilidade/apostilas/scpi-balanco.pdf" target="_blank">Balanço</a>
                                    <a href="http://www.fiorilli.inf.br/contabilidade/apostilas/scpi-diario-razao.pdf" target="_blank">Diario Razão</a>
                                    <a href="http://www.fiorilli.inf.br/contabilidade/apostilas/scpi-ppa_ldo.pdf" target="_blank">Plano Plurianual, Lei Diretrizes Orçamentaria (PPA, LDO)</a>
                                    <a href="http://www.fiorilli.inf.br/contabilidade/apostilas/scpi-loa.pdf" target="_blank">Lei Orçamentária Anual (LOA)</a>
                                </div>
                            </div>
                            <div class="box_manuais">
                                <img src="{$urlBase}img/m_fiorilli.png"><span>SIP 7</span>
                                <div class="box_manuais_d">
                                    <a href="http://www.fiorilli.com.br/SIP/downloadfiles/Manuais/ManualSIP7.pdf" target="_blank">Manual Técnico do SIP 7</a>
                                    <a href="http://www.fiorilli.com.br/SIP/downloadfiles/Manuais/Layout%20SIP%20Integra%C3%A7%C3%A3o%20Cont%C3%A1bil.pdf" target="_blank">Layout a Integração Contábil</a>
                                    <a href="http://www.fiorilli.com.br/SIP/downloadfiles/Manuais/Layout%20SIP%20RPPS.pdf" target="_blank">Layout do RPPS</a>
                                    <a href="http://www.fiorilli.com.br/SIP/downloadfiles/Manuais/Layout%20Recadastramento.pdf" target="_blank">Layout Recadastramento</a>
                                    <a href="http://www.fiorilli.com.br/SIP/downloadfiles/Manuais/Layout%20SIP%20Webservices.pdf" target="_blank">Manual e Layout Webservice </a>
                                </div>
                            </div>
                            <div class="box_manuais">
                                <img src="{$urlBase}img/m_fiorilli.png"><span>SIA 7.5</span>
                                <div class="box_manuais_d">
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Instalação.pdf" target="_blank">Instalando o S.I.A.</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Principal.pdf" target="_blank">Modulo Principal</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Imobiliário.pdf" target="_blank">Modulo Imobiliário</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Mobiliário.pdf" target="_blank">Modulo Mobiliário</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Agua%20e%20Esgoto.pdf" target="_blank">Modulo Água e Esgoto</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Rural.pdf" target="_blank">Modulo Rural</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Cemitério.pdf" target="_blank">Modulo Cemitério</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Financeiro.pdf" target="_blank">Modulo Financeiro</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Cemitério.pdf" target="_blank">Dívida Ativa</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/RecDiversas.pdf" target="_blank">Receitas Diversas</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Atendimento.pdf" target="_blank">Atendimento</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Tesouraria.pdf" target="_blank">Tesouraria</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Juridico.pdf" target="_blank">Jurídico</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/Serviços.pdf" target="_blank">Serviços</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/ManualISSWeb/Manual_de_Utilizacao_do_Web_Service.pdf" target="_blank">WEB WebService</a>
                                    <a href="http://www.fiorilli.com.br/SIA7/Manual/ManualISSWeb/Credenciamento/IssWeb.html?Introduo.html" target="_blank">WEB IssWeb</a>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="box_soft">
                        <span><i class="fa fa-tty animaze fromTop"></i>SUPORTE TÉCNICO<br><img src="{$urlBase}img/icon_servicos2.png" class="animaze"></span>
                        <div class="animaze">
                            <p><i class="fa fa-caret-right"></i> Suporte técnico imediato;</p>
                            <p><i class="fa fa-caret-right"></i> Atendimento presencial na entidade;</p>
                            <p><i class="fa fa-caret-right"></i> Agendamento de treinamentos presenciais;</p>
                            <p><i class="fa fa-caret-right"></i> Tratamento de dados com total segurança;</p>
                            <p><i class="fa fa-caret-right"></i> Disponibilidades de programas de acesso remoto para facilitar o atendimento a distância com total segurança e rapidez;</p>
                            <p><i class="fa fa-caret-right"></i> Conversão de base de dados, implantação de programas, suporte e treinamento de pessoal;</p>
                            <p><i class="fa fa-caret-right"></i> Sistema com gerenciamento de backup automático;</p>
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="box_soft box_soft_full">
                        <span><i class="fa fa-lightbulb-o animaze fromTop"></i>CONSULTORIA<br><img src="{$urlBase}img/icon_servicos2.png" class="animaze"></span>
                        <div class="animaze">
                            <h3>1.	SERVIÇOS DE ASSESSORIA E CONSULTORIA TÉCNICA CONTÁBIL</h3>
                            <p><i class="fa fa-caret-right"></i> Acompanhamento, Orientação e Assessoramento Técnico/didático de atividades administrativas, tais como: atos normativos, gestão de pessoal, controle de estoque e gestão patrimonial;</p>
                            <p><i class="fa fa-caret-right"></i> Consultoria na Execução Orçamentária, Contabilidade Pública e Execução Financeira, atendendo as determinações da Lei 4.320/64, Lei Complementar 101/2000 e MACASP;</p>
                            <p><i class="fa fa-caret-right"></i> Consultoria e orientação na padronização dos procedimentos contábeis visando o atendimento ao PCASP e MDF;</p>
                            <p><i class="fa fa-caret-right"></i> Acompanhamento e Orientação na execução orçamentária anual, bem como na elaboração dos seguintes demonstrativos referentes aos índices constitucionais:
                                <ul>
                                    <li>1.	Aplicação de recursos na Educação (art 212, CF);</li>
                                    <li>2.	Aplicação de recursos na Saúde (art 77, ADCT, CF);</li>
                                    <li>3.	Gastos com recursos do FUNDEB – 70% e 30% (Art 60, ADCT, CF);</li>
                                    <li>4.	Gastos com pessoal (Art 20, III, b, LRF)</li>
                                    <li>5.	Contribuição para formação do Pasep (Lei 9.715/98)</li>
                                    <li>6.	Repasse ao Legislativo Municipal;</li>
                                </ul>
                            </p>
                            <p><i class="fa fa-caret-right"></i> Orientação na elaboração dos Relatórios da LC nº 101/2000;</p>
                            <p><i class="fa fa-caret-right"></i> Consultoria e Orientação na elaboração e execução da programação financeira, cronograma de execução mensal desembolso e metas de arrecadação;</p>
                            <p><i class="fa fa-caret-right"></i> Consultoria e Orientação técnica na formalização de compras;</p>
                            <p><i class="fa fa-caret-right"></i> Atendimento às Instruções Normativas do TCE/MT, bem com defesas administrativas, justificativas e acompanhamento das contas anuais junto a esse órgão;</p>
                            <p><i class="fa fa-caret-right"></i> Consultoria no preenchimento e envio de informações ao TCE/MT, Secretaria do Tesouro Nacional (SICONFI: RREO, RGF e MSC), Ministério da Saúde (SIOPS), Ministério da Educação (SIOPE), Secretaria da Receita Federal (DCTF e DIRF), Caixa Econômica Federal (SEFIP e RAIS);</p>
                            <p><i class="fa fa-caret-right"></i> Orientação no encerramento dos balancetes mensais, bem como das contas anuais (Balanço Geral).</p>
                            <p><i class="fa fa-caret-right"></i> Defesas administrativas relativas a eventos relacionados com o objeto do contrato, relativas ao período contratado, independente do encerramento do contrato;</p>

                            <h3>2.	SERVIÇOS DE ASSESSORIA E CONSULTORIA JURÍDICA</h3>
                            <p><i class="fa fa-caret-right"></i> Consultoria e assessoria jurídica nas áreas de Recursos humanos, licitações e contratos administrativos, tributos, patrimônio, convênios, elaboração e análise de minutas de projetos de leis;</p>
                            <p><i class="fa fa-caret-right"></i> Elaboração de defesas administrativas perante órgãos municipais, estaduais e federais;</p>
                            <p><i class="fa fa-caret-right"></i> Elaboração de pareceres jurídicos</p>
                            <p><i class="fa fa-caret-right"></i> Propositura de ações judiciais de interesse do município;</p>
                            <p><i class="fa fa-caret-right"></i> Atuação em primeira e segunda instancias em processos judiciais propostos contra o município;</p>

                            <h3>3.	SERVIÇOS DE ASSESSORIA E CONSULTORIA TRIBUTÁRIA</h3>
                            <p><i class="fa fa-caret-right"></i> Consultoria Tributária referente a arrecadação, fiscalização, etc;</p>
                            <p><i class="fa fa-caret-right"></i> Elaboração, revisão e atualização de Planta Genérica de Valores, Código Tributário Municipal e demais legislação tributária;</p>
                            <p><i class="fa fa-caret-right"></i> Outros serviços correlatos.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div><div class="linha bg5"></div>

            <div class="container">
                <div class="content">
                    <div class="titulo font1 animaze">Clientes</div>

                    {include file="_clientes.html"}
                    </div>
                </div>
            </div>

            {if count($dGaleria.d) > 0}
            <div class="clear"></div><div class="linha bg1"></div>

            <div class="container bg_galeria">
                <div class="content">
                    <div class="titulo font1 animaze">Galeria de Fotos</div>

                    {section name=i loop=$dGaleria.d}
                    <div class="box_galeria animaze">
                        <a href="{$urlBase}galeria-de-fotos/{$dGaleria.d[i].Conteudo_TituloSlug}">
                            <img src="{$urlBase}tim.php?src=gerenciar/midias/{$dGaleria.d[i].Conteudo_Imagem}&w=400&h=200&zc=1">
                            <p>{$dGaleria.d[i].Conteudo_Titulo|truncate:100:'...'}</p>
                        </a>
                    </div>
                    {/section}

                    <div class="clear"></div>

                    <a href="{$urlBase}galeria-de-fotos" class="btn btn-blue center animaze" style="width: 250px; margin-bottom: 20px;">ver todas</a>
                </div>
            </div>

            <div class="clear"></div><div class="linha bg4"></div>
            {/if}

            {include file="_fale-conosco.html"}
        </main>

        {include file="_footer.html"}
    </body>
</html>