<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{$Info['title']}</title>

    {include file="_head.html"}
</head>
<body class="skin-blue">
<div class="wrapper">

    {include file="_header.html"}

    {include file="_menu.html"}

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {ucfirst($Mod[1])}
            </h1>
            <ol class="breadcrumb">
                <li><a href="{$urlBase}dashboard.php"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">{ucfirst($Mod[0])}</li>
                <li class="active">{ucfirst($Mod[1])}</li>
            </ol>
        </section>

        <section class="content">
            <input type="hidden" id="urlBase" value="{$urlBase}">

            {include file="{$Mod[0]}/{$Mod[1]}/permissoes_guia.html"}

            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-{if $ac=='i'}success{else}warning{/if}">
                        <div class="box-header">
                            <h3 class="box-title">{if $ac=='i'}Inserir{else}Editar{/if}</h3>
                        </div>
                        <form role="form" method="post" enctype="multipart/form-data" action="">
                            <input type="hidden" name="token" id="token" value="{$smarty.session.token_c}">

                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label>Empresa</label>
                                            <select name="empresa" class="form-control">
                                                <option value="0">SELECIONE</option>
                                                {section name=i loop=$empresas}
                                                <option value="{$empresas[i].Empresa_ID}" {if $empresas[i].Empresa_ID==$dados.Empresa_ID}selected{/if}>{$empresas[i].Empresa_Nome}</option>
                                                {/section}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>Nome</label>
                                            <input type="text" class="form-control" name="nome" placeholder="Nome da Permissão"
                                                   value="{$dados.Permissao_Nome}">
                                        </div>
                                    </div>
                                </div>

                                <h4 class="page-header text-center"><i class="fa fa-lock"></i> Permissões</h4>

                                <div class="row">
                                    {section name=i loop=$modulos}
                                    <div class="col-xs-4 box_permissao">
                                        <h4 class="page-header">
                                            {$modulos[i].Menu_Titulo}
                                            <label>
                                                <input type="checkbox" class="all" checked>
                                            </label>
                                        </h4>

                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" name="per[{$modulos[i].Menu_ID}v]" class="all_check" {if $dados.Permissao_Modulos}{section name=k loop=$dados.mod}{if $dados.mod[k]==$modulos[i].Menu_ID|cat:'v'}checked{/if}{/section}{else}checked{/if}> Visualizar
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" name="per[{$modulos[i].Menu_ID}a]" class="all_check" {if $dados.Permissao_Modulos}{section name=k loop=$dados.mod}{if $dados.mod[k]==$modulos[i].Menu_ID|cat:'a'}checked{/if}{/section}{else}checked{/if}> Adicionar
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" name="per[{$modulos[i].Menu_ID}e]" class="all_check" {if $dados.Permissao_Modulos}{section name=k loop=$dados.mod}{if $dados.mod[k]==$modulos[i].Menu_ID|cat:'e'}checked{/if}{/section}{else}checked{/if}> Editar
                                            </label>
                                        </div>
                                        {if $modulos[i].Menu_ID == 26 || $modulos[i].Menu_ID == 33}
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" name="per[{$modulos[i].Menu_ID}f]" class="all_check" {if $dados.Permissao_Modulos}{section name=k loop=$dados.mod}{if $dados.mod[k]==$modulos[i].Menu_ID|cat:'f'}checked{/if}{/section}{else}checked{/if}> Fechamento
                                            </label>
                                        </div>
                                        {/if}
                                        <div class="form-group">
                                            <label>
                                                <input type="checkbox" name="per[{$modulos[i].Menu_ID}d]" class="all_check" {if $dados.Permissao_Modulos}{section name=k loop=$dados.mod}{if $dados.mod[k]==$modulos[i].Menu_ID|cat:'d'}checked{/if}{/section}{else}checked{/if}> Deletar
                                            </label>
                                        </div>
                                    </div>
                                    {/section}
                                </div>
                            </div>

                            <div class="box-footer text-right">
                                {if $smarty.session.Menu_ID|cat:'a'|in_array:$smarty.session._user.Permissao_Modulos || $smarty.session.Menu_ID|cat:'e'|in_array:$smarty.session._user.Permissao_Modulos}
                                <button type="submit" class="btn btn-primary" id="gravar"><i class="fa fa-save"></i> Gravar</button>
                                {/if}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{include file="_footer.html"}
<script src="{$diretorio}js/modulos/permissoes_ie.js"></script>
</body>
</html>